body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#weatherResult {
  background-color: white;
  border-radius: 10px;
}

input, button {
  max-width: 400px;
  margin: auto;
}
